.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

/* ------------------- Login ------------------- */

.loginContainer {
  display: flex;
  margin-top: 18%;
  flex-direction: column;
  align-items: center;
}

.loginInput {
  width: 20%;
  height: 20px;
  padding: 8px;
  border-radius: 4px;
}

.loginButton {
  padding: 8px;
  margin: 16px;
}

/* ------------------- Form ------------------- */

.formInput {
  width: 96px;
  height: 16px;
  padding: 4px;
  margin: 8px 4px;
  border-radius: 4px;
}

.formInputTitle {
  width: 120px;
}

.formButton {
  min-width: 30px;
  height: 30px;
  padding: 6px;
  margin: 4px;
  background-color: transparent;
  border-radius: 8px;
}

.logoutButton {
  padding: 6px;
  font-weight: 600;
  background-color: rgba(178, 34, 34, 0.6);
  position: absolute;
  top: 16px;
  right: 16px;
}